html,
body {
  /* font-family: Proxima Nova, Verdana, Avenir Next, sans-serif; */
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  background-color: #0d0d0d;
  color: #fff;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

input {
  color: #000;
}

/* Make things perty */
h1, h2{
  margin: 0;
  text-transform: uppercase;
  ext-shadow: 0 0 0.5em black;
}
h2 { font-weight: 300}
input {
  border: 1px solid #666;
  background: #333;
  color: #fff;
  padding: 0.5em;
  box-shadow: none;
  outline: none !important;
  margin: 1em  auto;
  text-align: center;
}

a {
  text-decoration: none;
  color: #cb3837;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  padding: 0;
  display: inline-flex !important;
  color: #fff;
  transition: none;
  justify-content: center;
  font-weight: 500;
  align-items: center;
  position: relative;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  min-width: 44px;
  height: 44px;
  font-size: 16px;
  padding: 6px;
  line-height: 44px;
  opacity: 0.8;
  margin: 10px;
}
.btn:hover {
  opacity: 1;
}

.btn-fire {
  background-color: #F44336;
  border: none;
  background-image: linear-gradient(to bottom right, #d3cd29, #ff0000);
}
.plus{
  padding: 6px;
  min-width: 30px;
  line-height: 15px;
}

.green {
  background: #4ad395;
}
.orange {
  background: #C04500;
}

button[disabled=disabled], button:disabled {
  background: rgb(239, 239, 239);
  color: #333;
}

/* controls for the timer */
.controls {
  margin-top: 30px;
}

/* circle styles */
.circleContainer {
  display: block;
  margin-top: 100px;
}

#cont {
  font-size: 14px;
  margin-left: 44px;
  padding: 0;
}

svg{
  margin-top: -120px;
}

/* main focus */
.row {
  display: flex;
  align-items: center;
}

#title_main {
  margin: 30px;
}
