html,
body {
  /* font-family: Proxima Nova, Verdana, Avenir Next, sans-serif; */
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  background-color: #0d0d0d;
  color: #fff;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Make things perty */
h1, h2{
  margin: 0;
  ext-shadow: 0 0 0.5em black;
}
h2 { font-weight: 300}
input {
  border: 1px solid #666;
  background: #333;
  color: #fff;
  padding: 0.5em;
  box-shadow: none;
  outline: none !important;
  margin: 1em  auto;
  text-align: center;
}

a {
  text-decoration: none;
  color: #cb3837;
}

.container {
  display: flex;
  align-items: flex-start;
  height: 100vh;
  justify-content: center;
  flex-wrap: wrap;
}

.btn {
  display: inline-flex !important;
  color: black;
  transition: none;
  justify-content: center;
  font-weight: 500;
  align-items: center;
  position: relative;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  min-width: 44px;
  height: 44px;
  font-size: 16px;
  padding: 6px 10px;
  line-height: 44px;
  opacity: 0.8;
  margin: 10px;
}
.btn:hover {
  opacity: 1;
}

.btn-fire {
  color: #fff;
  background-color: #F44336;
  border: none;
  background-image: linear-gradient(to bottom right, #d3cd29, #ff0000);
}

.btn-outlined {
  background: #333;
  color: white;
  border: 2px solid white;
}

.btn-small {
  font-size: 12px;
  padding: 4px;
  line-height: 14px;
}
.plus{
  padding: 6px;
  min-width: 30px;
  line-height: 15px;
  cursor: pointer;
}

.green {
  background: #4ad395;
}
.orange {
  background: #C04500;
  color: #fff;
}

button[disabled=disabled], button:disabled {
  background: #666;
  color: #333;
  cursor: default;
}

button[disabled=disabled]:hover {
  opacity: 0.8;
}

/* controls for the timer */
.controls {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

/* circle styles */
.circleContainer {
  display: flex;
  margin-top: 100px;
  justify-content: center;
  width: 100%;
}

#cont {
  font-size: 14px;
  margin-left: 44px;
  padding: 0;
}

svg{
  margin-top: -120px;
}

/* main focus */
.row {
  display: flex;
  align-items: center;
}

/* list of todos styles */

.listsContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto;
  justify-content: center;
  min-height: 500px;
}
.list {
  margin: 0 150px;
  display: flex;
  flex-direction: column;
}
ul {
  padding: 0;
}

li {
  padding: 10px 10px 10px 0;
  margin: 10px 0;
  list-style: none;
  border-radius: 10px;
  cursor: pointer;
} 
li:hover{
  background-image: linear-gradient(to right, #0d0d0d, #ff0000);
}


.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 70px;
  align-items: center;
  background-color: #333;
  padding: 0 20px;
  align-self: flex-end;
}

.footer > div > p {
  font-size: 12px;
  color: #fff;
  opacity: 0.5;
  line-height: 20px;
  margin-right: 50px;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #666;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 6px;
	font-size: 14px;
  font-weight: 300;

	/* Position the tooltip text - see examples below! */
	position: absolute;
	z-index: 1;
	width: 120px;
	top: 100%;
	left: 50%;
	margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
	visibility: visible;
}
